html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #262c3a;
    background-attachment: fixed;
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
}

:root {
    --blue-color: #0096cb;
    --red-color: #e13b1b;
    --green-color: #1bac3a;
    --purple-color: #7b25cc;
    --black-color: #272927;
    --white-color: #ffffff;
    --grey1-color: #f0f5f9;
    --grey2-color: #aab7c1;
    --grey3-color: #52616b;
    --grey4-color: #393e46;
    /* 其他需要的颜色变量 */
}

::selection {
    color: #ffffff !important;
    background-color: #383838 !important;
    text-shadow: none !important;
}

/* 浏览器滚动条样式 */

body::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}

body::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px var(--red-color);
    box-shadow: inset 0 0 6px var(--blue-color);
    background-color: var(--blue-color);
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px transparent;
    box-shadow: inset 0 0 6px transparent;
    background-color: transparent;
}

body::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

/* 复制到剪贴板按钮的样式。 */
#app ::-webkit-scrollbar-track {
    background: transparent;
}

.copy-to-clipboard-button {
    background: inherit !important;
    box-shadow: none !important;
}

.copy-to-clipboard-button span {
    background: rgba(255, 255, 255, 0.31) !important;
}

/* 用于去除输入框的默认外观 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

footer {
    font-family: 'Varela Round', "Microsoft YaHei", "Source Sans Pro", "Helvetica Neue", Menlo, Monaco, monospace, "Lucida Console", sans-serif, Helvetica, "Hiragino Sans GB", "Hiragino Sans GB W3", Source Han Sans CN Regular, WenQuanYi Micro Hei, Arial, sans-serif;
}

/* 分页样式 */
.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li {
	background-color: #ffffff !important;
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
	background-color: var(--blue-color) !important;
}
.el-pagination.is-background{
	justify-content: center;/* 将flex子元素居中对齐 */
}
.el-pagination.is-background .el-pager li.is-active{
	background-color: var(--blue-color) !important;
	color: #ffffff !important;
}

/* 预设margin和padding类型 */
.m-margin-small {
    margin: 3px 10px !important;
}

.m-margin-lr {
    margin-left: 0.5em !important;
    margin-right: 0.5em !important;
}

.m-margin-top {
    margin-top: 1em !important;
}

.m-margin-top-large {
    margin-top: 1.5em !important;
}

.m-margin-bottom-big {
    margin-bottom: 3em !important;
}

.m-padding-bottom-large {
    padding-bottom: 2em !important;
}

.m-padding-left-no {
    padding-left: 0 !important;
}

.m-padded-tb-no {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.m-margin-lr-no {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.m-padded-tb-mini {
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}

.m-padded-tb-small {
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}

.m-padded-tb-large {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}

.m-padded-tb-big {
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}

.m-padded-lr-big {
    padding-left: 2em !important;
    padding-right: 2em !important;
}


.m-right-top {
    position: absolute;
    top: 0;
    right: 0;
}

/*------shadow------*/
.m-shadow-small {
    -webkit-box-shadow: 0 4px 8px var(--blue-color) !important;
    box-shadow: 0 4px 8px var(--blue-color) !important;
}

.m-mobile-show {
    display: none !important;
}

@media screen and (max-width: 767px) {
    .m-mobile-hide {
        display: none !important;
    }

    .m-mobile-show {
        display: block !important;
    }
}

.m-center {
    margin: auto !important;
}

.m-text-cover {
    background: #d8eefa;
    color: transparent;
}

.m-text-heimu {
    background-color: #252525;
    color: #252525;
    text-shadow: none;
    transition: color 0.3s;
}

.m-text-heimu:active, .m-text-heimu:hover {
    color: #fff
}

.m-text-thin {
    font-weight: 300 !important;
}

.m-text-500 {
    font-weight: 500 !important;
}

.m-text-spaced {
    letter-spacing: 1px !important;
}

/*-----opacity------*/
.m-opacity {
    opacity: 0.9 !important;
}

.m-opacity-mini {
    opacity: 0.8 !important;
}

.m-opacity-tiny {
    opacity: 0.6 !important;
}

.m-box {
    transition: all 0.25s ease 0s, opacity 0.6s cubic-bezier(0.5, 0, 0, 1) 0s !important;
    box-shadow: 4px 6px 0px 0px var(--blue-color) !important;
}

.m-box:hover {
    box-shadow: -4px -6px 0px 0px var(--red-color) !important;
}

.m-box:active {
    box-shadow: 4px 6px 0px 0px var(--red-color) !important;
}

@media (max-width: 768px) {
    .m-box {
        border-radius: 0 !important;
    }
}

/*-----color-----*/

.m-blue-bg {
    background-color: var(--blue-color) !important;
}

.m-red-bg {
    background-color: var(--red-color) !important;
}

.m-green-bg {
    background-color: var(--green-color) !important;
}

.m-grey1-bg {
    background-color: var(--grey1-color) !important;
}

.m-grey2-bg {
    background-color: var(--grey2-color) !important;
}

.m-grey3-bg {
    background-color: var(--grey3-color) !important;
}

.m-grey4-bg {
    background-color: var(--grey4-color) !important;
}

.m-black-bg {
    background-color: var(--black-color) !important;
}

.m-blue {
    color: var(--blue-color) !important;
}

.m-red {
    color: var(--red-color) !important;
}

.m-green {
    color: var(--green-color) !important;
}

.m-black {
    color: var(--black-color) !important;
}

.m-white {
    color: var(--white-color) !important;
}

.m-scaleup {
    transition: .3s ease !important;
}

.m-scaleup:hover {
    transform: scale(1.1) !important;
}

/* 所有的时间显示 */
.m-datetime {
    color: #0096cb !important;
}

.m-datetime * {
    vertical-align: middle !important;
}

.m-datetime i {
    margin-right: 3px !important;
}

/* 所有的浏览次数显示 */
.m-views {
    color: #e13b1b !important;
}

.m-views * {
    vertical-align: middle !important;
}

.m-views i {
    margin-right: 3px !important;
}

/* 纯黑 */
.m-common-black {
    color: #000 !important;
}

.m-common-black * {
    vertical-align: middle !important;
}

.m-common-black * * {
    vertical-align: middle !important;
}

.m-common-black i {
    margin-right: 3px !important;
}

.m-big-fontsize p, .m-big-fontsize ul, .m-big-fontsize ol {
    font-size: 17px !important;
}

@keyframes sun {
    100% {
        background-position: -400% 0;
    }
}


